:root {
  padding: 0;
  margin: 0;
  background-color: #06334f;
}

.birthdayListContainer {
  margin-top: 10px;
  padding: 5px;
  /* border: 1px solid #eee; */
  border-radius: 8px;
  background-color: #06334f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* Center the content inside the container */
}

.birthdayListContainer h2 {
  color: snow;
  text-align: center;
  margin-bottom: 5px;
}

.birthdayListContainer ul {
  list-style: none;
  padding: 0;
}

.birthdayListContainer li {
  background: #2A7B9B;
  background: linear-gradient(258deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 69%, rgba(237, 221, 83, 1) 100%);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: left;
  /* Center items horizontally within each list item */
  gap: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.birthdayListContainer p {
  padding: 5px;
  font-size: 1rem;
  text-align: left;
  width: 200px;
}

.birthdayListContainer li strong {
  color: black;
}

.birthdayListContainer p {
  color: white;
  font-style: italic;
  margin: 0;
}

.birthdayListItem {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.birthdayListItem:hover {
  background-color: #e9ecef;
}

.birthdayPhoto {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  object-fit: cover;
}